<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--UserService的创建权交给了Spring-->
    <bean id="UserServiceImplXml" class="com.spring_ioc.demo1.UserServiceImpl">
        <!--依赖注入 DI 设置属性-->
        <property name="name" value="李四"/>
    </bean>

    <!--Bean的实例化的三种方式-->
        <!--第一种：无参构造器的方式-->
    <bean id="bean1" class="com.spring_bean.Bean1"></bean>
        <!--第二种:静态工厂的方式-->
    <bean id="bean2" class="com.spring_bean.Bean2Factory" factory-method="createBean2"/>
        <!--第三种:实例工厂的方式-->
    <bean id="bean3" factory-bean="bean3Factory" factory-method="createBean3"/>
    <bean id="bean3Factory" class="com.spring_bean.Bean3Factory"/>
</beans>